/**
 * @name tezzy's Theme
 * @description a dark, customizable discord theme.
 * @author tezzy
 * @version 0.0.1
 * @invite YdtDGFKBg9
 * @website https://guns.lol/tezzybtw
 * @source https://github.com/tezzyBTW/tezzy-Theme/blob/main/tezzys.theme.css
 * @authorId 732275651385753753
 * @authorLink https://github.com/tezzyBTW
*/

@import url('https://raw.githubusercontent.com/tezzyBTW/tezzy-Theme/refs/heads/main/tezzys.theme.css');

body {
    --font: 'figtree';
    --code-font: '';
    font-weight: 400;

    --gap: 12px;
    --divider-thickness: 4px;
    --border-thickness: 1px;

    --animations: on;
    --list-item-transition: 0.2s ease;
    --dms-icon-svg-transition: 0.4s ease;
    --border-hover-transition: 0.2s ease;

    --top-bar-height: var(--gap);
    --top-bar-button-position: titlebar;
    --top-bar-title-position: off;
    --subtle-top-bar-title: off;

    --custom-window-controls: off;
    --window-control-size: 14px;

    --custom-dms-icon: custom;
    --dms-icon-svg-url: url('https://raw.githubusercontent.com/tezzyBTW/tezzy-Theme/refs/heads/main/Font_moon.svg');
    --dms-icon-svg-size: 90%;
    --dms-icon-color-before: var(--icon-secondary);
    --dms-icon-color-after: var(--white);
    --custom-dms-background: off;
    --dms-background-image-url: url('');
    --dms-background-image-size: cover;
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2));

    --background-image: off;
    --background-image-url: url('');

    --transparency-tweaks: off;
    --remove-bg-layer: off;
    --panel-blur: off;
    --blur-amount: 12px;
    --bg-floating: var(--bg-3);

    --custom-chatbar: aligned;
    --chatbar-height: 47px;
    --chatbar-padding: 8px;

    --small-user-panel: on;
}

:root {
    --colors: on;

    --text-0: var(--bg-4);
    --text-1: hsl(220, 45%, 95%);
    --text-2: hsl(220, 25%, 70%);
    --text-3: hsl(220, 20%, 60%);
    --text-4: hsl(220, 15%, 40%);
    --text-5: hsl(220, 15%, 25%);

    --bg-1: hsla(220, 15%, 20%, 1);
    --bg-2: hsla(220, 15%, 16%, 1);
    --bg-3: hsla(220, 15%, 13%, 1);
    --bg-4: hsla(220, 15%, 10%, 1);
    --hover: hsla(221, 19%, 40%, 0.1);
    --active: hsla(220, 19%, 40%, 0.2);
    --active-2: hsla(220, 19%, 40%, 0.3);
    --message-hover: hsla(220, 0%, 0%, 0.1);

    --accent-1: var(--blue-1);
    --accent-2: var(--blue-2);
    --accent-3: var(--blue-3);
    --accent-4: var(--blue-4);
    --accent-5: var(--blue-5);
    --accent-new: var(--accent-2);
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent);
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent);
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent);
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent);

    --online: var(--green-2);
    --dnd: var(--red-2);
    --idle: var(--yellow-2);
    --streaming: var(--purple-2);
    --offline: var(--text-4);

    --border-light: var(--hover);
    --border: var(--active);
    --border-hover: var(--active);
    --button-border: hsl(220, 0%, 100%, 0.1);

    --red-1: oklch(75% 0.12 0);
    --red-2: oklch(70% 0.12 0);
    --red-3: oklch(65% 0.12 0);
    --red-4: oklch(60% 0.12 0);
    --red-5: oklch(55% 0.12 0);

    --green-1: oklch(75% 0.11 170);
    --green-2: oklch(70% 0.11 170);
    --green-3: oklch(65% 0.11 170);
    --green-4: oklch(60% 0.11 170);
    --green-5: oklch(55% 0.11 160);

    --blue-1: oklch(75% 0.1 215);
    --blue-2: oklch(70% 0.1 215);
    --blue-3: oklch(65% 0.1 215);
    --blue-4: oklch(60% 0.1 215);
    --blue-5: oklch(55% 0.1 215);

    --yellow-1: oklch(80% 0.11 90);
    --yellow-2: oklch(75% 0.11 90);
    --yellow-3: oklch(70% 0.11 90);
    --yellow-4: oklch(65% 0.11 90);
    --yellow-5: oklch(60% 0.11 90);

    --purple-1: oklch(75% 0.11 310);
    --purple-2: oklch(70% 0.11 310);
    --purple-3: oklch(65% 0.11 310);
    --purple-4: oklch(60% 0.11 310);
    --purple-5: oklch(55% 0.11 310);
}
